<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
  <h1><%= @to_user.name %>様、あなたのproduct <%= @product.title %>が<%= @from_user.name %>さんにいいねされました</h1>
</body>
</html>