<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>

<p>
  ここでwatchingsの作成/更新を行う。categoryをチェックできる項目が必要
  current_user.categories で呼ぶ感じかな
</p>

<%= render 'form', user: current_user %>



