<p id="notice"><%= notice %></p>

<h1>User Details</h1>
<p>
  <strong>name:</strong>
  <%= current_user.name %>
</p>

<p>
  <strong>email:</strong>
  <%= current_user.email %>
</p>

<%= link_to 'watching index', watchings_path %>
