<% if user_signed_in? %>
  <% if current_user.already_liked?(product) %>
    <div><%= link_to "いいねを取り消す", product_like_path(product, id: product.likes.find_by(user_id: current_user.id)), method: :delete, remote: true %></div>
  <% else %>
    <div><%= link_to "いいね", product_likes_path(product), method: :post, remote: true %></div>
  <% end %>
<% end %>