<div class="container">
  <div class="col-md-12 heading administer">
    <h1>New Category</h1>
  </div>
</div>

<%= render 'form', category: @category %>

<%= link_to 'Back', administer_categories_path %>
